{% extends "default.html" %}

{% block title %}
<h1>Task 3 of 3</h1>
{% endblock %}

{% block body %}
<form action="/step6" method="post" id="frm"> 

<h1>Please answer the following questions</h1>

<p>The following six questions ask about the previous two articles. For each article, we ask two 
  questions about some of the factual information included in the article and one question related
  to social media. If you do not remember the exact answer, please <strong>do not leave the answer empty</strong>,
  but instead, make a best guess based on what you remember from the article or based on your general
  knowledge about the topic.
</p>

<br />

<div class="form-group">
  <h2>Article #1: USA and China impose tit-for-tat tariffs</h2>
  <p>The article stated that the total value of exports to USA from China is $436bn.
    How much is the total value of exports to China from USA?
  </p>
  <div>
    <input name="question1" type="text" class="form-control" id="question1" placeholder="Enter a number in billions of dollars">
  </div>
</div>
<div class="form-group">
  <p>
    The article listed top 5 categories of products that account for 75% of the exports from China to USA.
    The two largest categories accounted for roughly the same amount of total exports. Please select the two
    top categories in the following list. The categories in the list are sorted alphabetically.
  </p>
  <div>
    <select class="form-control" id="question2" name="question2" style="margin-bottom: 10px">
      <option value="0">(Please select first category)</option>
      <option value="chemical">Chemical Products</option>
      <option value="instruments">Instruments</option>
      <option value="machines">Machines</option>
      <option value="transportation">Transportation</option>
      <option value="vegetable">Vegetable Products</option>
    </select>
    <select class="form-control" id="question3" name="question3">
      <option value="0">(Please select second category)</option>
      <option value="chemical">Chemical Products</option>
      <option value="instruments">Instruments</option>
      <option value="machines">Machines</option>
      <option value="transportation">Transportation</option>
      <option value="vegetable">Vegetable Products</option>
    </select>
  </div>
</div>
<div class="form-group">
  <p>How likely are you to share the first article on social networks?</p>
  <div>
    <select class="form-control" id="share1" name="share1">
      <option value="0">(please select)</option>
      <option value="1">Definitely not</option>
      <option value="2">Probably not</option>
      <option value="3">Maybe</option>
      <option value="4">Probably yes</option>
      <option value="5">Definitely yes</option>
    </select>
  </div>
</div>
<br />
<div class="form-group">
  <h2>Article #2: Jurassic World: Fallen Kingdom is No. 1</h2>
  <p>The article stated that the blockbuster sequel to "Jurassic World" earned $60 million in its second weekend.
    What was the domestic earning (in the same week) of the movie that took the second place?
  </p>
  <div>
    <input name="question4" type="text" class="form-control" id="question4" placeholder="Enter a number in millions of dollars">
  </div>
</div>
<div class="form-group">
  <p>
    The article listed earnings of four different movies and noted that the one with the 
    largest earnings during the week was "Jurassic World: Fallen Kingdom". What was the movie
    with second largest earnings? The movies are listed alphabetically.
  </p>
  <div>
    <select class="form-control" id="question5" name="question5" style="margin-bottom: 10px">
      <option value="0">(Please select the second movie)</option>
      <option value="incredibles">Incredibles 2</option>
      <option value="sicario">Sicario: Day of the Soldado/option>
      <option value="uncle">Uncle Drew</option>
    </select>
  </div>
</div>
<div class="form-group">
  <p>How likely are you to share the first article on social networks?</p>
  <div>
    <select class="form-control" id="share2" name="share2">
      <option value="0">(please select)</option>
      <option value="1">Definitely not</option>
      <option value="2">Probably not</option>
      <option value="3">Maybe</option>
      <option value="4">Probably yes</option>
      <option value="5">Definitely yes</option>
    </select>
  </div>
</div>
    
<hr />

<div class="form-group" style="text-align:right">
  <input type="button" id="next" class="btn btn-lg mb-2" style="min-width:120px" value="Next"
    onclick="logEvent('page', 'next', 'step5', '', function(){ document.getElementById('frm').submit(); })" />
</div>
</form>
<script>
  window.onload = function() { logEvent("page", "loaded", "step5", window.navigator.userAgent); }
</script>

{% endblock %}
