{% extends "default.html" %}

{% block title %}
<h1>Thank you!</h1>
{% endblock %}

{% block body %}
<h1>Thanks for completing the study</h1>
<br />
<h2>Study description</h2>
<p>The purpose of the study was to explore how data visualizations and interactive data visualizations
  help readers understand and remember news stories and whether they make news stories more engaging.
  The study had three different versions of the first article. One with an interactive visualization,
  one with static visualization and one with just an illustrative image. The second article was the same
  for everyone. The purpose of our research is to assess which of the three methods provides the most
  effective way of communicating information.
</p>

<h2>Return to Prolific</h2>
<p>Please click the "Next" button to continue back to Prolific. If you have any questions or issues,
  please contact us through the Prolific "Contact researcher" facility.
</p>
<br />

<hr />

<div class="form-group" style="text-align:right">
  <a href="https://app.prolific.ac/submissions/complete?cc={{ model.Return }}" class="btn btn-success btn-lg mb-2" style="min-width:120px">Finish</a>
</div>
</form>
{{ model }}
<script>
  window.onload = function() { 
    logEvent("user", "answers", "", {
      "question1": "{{ model.Question1 }}", "question2": "{{ model.Question2 }}", 
      "question3": "{{ model.Question3 }}", "question4": "{{ model.Question4 }}", 
      "question5": "{{ model.Question5 }}", 
      "share1": "{{ model.Share1 }}", "share2": "{{ model.Share2 }}" }); 
    logEvent("page", "loaded", "step6", window.navigator.userAgent, function() { }); 
  }
</script>
{% endblock %}
