{% extends "default.html" %}

{% block title %}
<h1>Before you start</h1>
{% endblock %}

{% block body %}
<form action="/step3" method="post" id="frm"> 

<h1>Background information</h1>

<p>Before you start, please maximize your browser window and switch off any devices and applications that
  might be distracting such as your phone, e-mail client or music. Please make sure that you are 
  completing the study in a space that allows you to focus for 
  15 minutes required to complete the study.</p>

<p>Next, enter your Prolific ID. You can find this at the top of this webpage or by going to your account page.
  Additionally, please provide the basic background information required below.
</p>

<br />

<div class="form-group row" style="margin-bottom:30px">
  <label for="prolificid" class="col-sm-3 col-form-label">Your prolific ID</label>
  <div class="col-sm-9">
    <input name="prolificid" type="text" class="form-control" id="prolificid" placeholder="24 characters containing a mix of numbers and letters">
  </div>
</div>

<p>When you are ready, please click the "Next" button. You will be shown the first article,
  followed by the second article, followed by a questionnaire. After completing the questionnaire,
  you will be shown a brief summary of the study and a link to complete the Prolific survey.
  </p>
  
<hr />

<div class="form-group" style="text-align:right">
  <input type="button" id="next" class="btn btn-lg mb-2" style="min-width:120px" value="Next"
    onclick="logEvent('page', 'next', 'step2', '', function(){ document.getElementById('frm').submit(); })" />
</div>
</form>
<script>
  window.onload = function() { logEvent("page", "loaded", "step2", window.navigator.userAgent); }
</script>

{% endblock %}
