{% extends "default.html" %}

{% block title %}
<h1>Welcome</h1>
{% endblock %}

{% block body %}
<form action="/step2" method="post" id="frm">

<h1>Thank you for joining our study</h1>
 
<p>Please read the following important information before starting the study.
  We ask you to complete this survey, which will take approximately 15 minutes in one go. 
  In other words, please take the survey now only if you have 15 minutes that you can 
  dedicate to it.  Thank you very much.</p>

<h2>Study instructions</h2>
<p>In this study, you will be asked to read two newspaper articles. After that, you will be 
  asked to answer a couple of questions about the two articles. The news stories have been 
  selected among recent newsworthy events and should not cause any emotional harm or distress 
  to the reader.</p>

<h2>Consent form</h2>
 
<p>I consent to participate in this session, which will involve reading two articles and answering
  six questions. I understand that all data will be kept confidential by the researcher. No personally 
  identifiable information will be collected during the study and my responses cannot be linked to my 
  personal identity. I am free to withdraw at any time without giving a reason.
  I consent to the publication of study results as long as the information is anonymous so that no 
  participants could be identified. </p>
 
<p>The study has received approval from the Ethics Advisory Group of The Alan Turing Institute and
  by the University of Kent.</p>

<br />

<div class="form-group">
  <input class="form-check-input" type="checkbox" id="ack" onchange="document.getElementById('next').disabled=document.getElementById('ack').checked?'':'disabled';">
  <label class="form-check-label" for="ack">
      I have read and understand the explanations and I consent to participate in this study.
  </label>
</div>

<hr />

<div class="form-group" style="text-align:right">
  <input type="button" id="next" class="btn btn-lg mb-2" disabled="disabled" style="min-width:120px" value="Next"
    onclick="logEvent('page', 'next', 'step1', '', function(){ document.getElementById('frm').submit(); })" />
</div>
</form>
<script>
  window.onload = function() { logEvent("page", "loaded", "step1", window.navigator.userAgent); }
</script>
{% endblock %}
