{% extends "default.html" %}

{% block head %}
{% endblock %}

{% block title %}
<h1>Box Office</h1>
{% endblock %}

{% block body %}
<form action="/step5" method="post" id="frm">

<h1>Jurassic World: Fallen Kingdom is No. 1</h1>



<p>The "Jurassic World: Fallen Kingdom" dinosaurs ruled the box office for a second weekend in a row but left a little room for more modest newcomers like "Sicario: Day of the Soldado" and the basketball comedy "Uncle Drew" to over-perform in the crowded marketplace.</p>

<p>Studios on Sunday 1 July estimated that the blockbuster sequel to "Jurassic World" earned an additional $60 million in its second weekend in North American theaters, bringing its domestic total to $264.8 million. While its second weekend drop was about 10 percent steeper than that of the first film, the film has grossed $932.4 million worldwide to date and is barreling toward the $1 billion mark.</p>

<p>The dinosaurs didn't gobble up all the attention over the weekend, however. "Incredibles 2," now in its third weekend in theaters, took second place, with $45.5 million, bringing its domestic total to $439.7 million.</p>


<div style="padding:10px 30px 10px 30px"><img src="article2.jpg" class="img-responsive" /></div>

<p>North American audiences came out in larger-than-expected numbers for both the action thriller "Sicario: Day of the Soldado" and "Uncle Drew."</p>
<p>The "Sicario" sequel, starring Josh Brolin and Benicio Del Toro, earned $19 million to take third place. The film, which is distributed by Sony Pictures, cost a reported $35 million to $40 million to produce.</p>
<p>Landing in fourth place was the basketball comedy "Uncle Drew," which features NBA All-Stars Kyrie Irving and Shaquille O'Neal. With a production price tag under $20 million, the film exceeded expectations, grossing $15.5 million, and got audience stamp of approval, with an A CinemaScore.</p>
<p>The ad and marketing campaign included spots during the NBA playoffs and finals, a Wheaties box featuring Irving as Uncle Drew and an "Uncle Drew" capsule collection from Nike.</p>
<p>Lionsgate, which distributed the movie, knew the film had built-in marketability because of the celebrity of the stars, but it was also pleased to discover that the film appealed to non-basketball fans in early screenings, too.</p>
<p>That was the surprise, that wow, we have a picture that really plays to a general audience," said David Spitz, Lionsgate's president of domestic distribution. "It has a really sweet message."</p>
<hr />

<div class="form-group" style="text-align:right">
  <input type="button" id="next" class="btn btn-lg mb-2" style="min-width:120px" value="Next"
    onclick="logEvent('page', 'next', 'step4', '', function(){ document.getElementById('frm').submit(); })" />
</div>

</form>
<script>
  window.onload = function() { 
    logEvent("page", "loaded", "step4", window.navigator.userAgent); 
  }
</script>

{% endblock %}